.input
{
    width: 25%;
}
  .form-control
{
  width: 50%;
}

  .form-control, .search-btn
{
  display: inline-block;
}

  .legi_link, .jud_link, .directii_link, .link
{
    text-decoration: none;
    color: black;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    display: flex;
  }

  .flex-modal {
    display: flex;
    flex-direction: column;
    
  }
  
  /* The Close Button */
  .close-add, .close-update, .close-delete {
    display: block;
    width: fit-content;
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border: none;
    transition: 0.3s;
  }
  
  .close-add:hover, .close-add:focus,
  .close-update:hover, .close-update:focus,
  .close-delete:hover, .close-delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .add-submit-btn, .update-submit-btn, .delete-submit-btn {
    margin-top: 10px; 
  }

